<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Sitecore.Analytics.Model" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.Framework.Messaging.Abstractions" version="5.0.0" targetFramework="net48" />
  <package id="Sitecore.ListManagement.XConnect.Web" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XConnect" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Client.Configuration" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Collection.Model" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XConnect.Core" version="10.3.0" targetFramework="net48" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net48" />
</packages>